.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbfbfb;
  color: #0c0000;
  padding: 80px 60px;
  flex-wrap: wrap;
}

.hero-left {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
}

.hero-left h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.highlight-name {
  color:#0c0000;
  font-family: 'Pacifico', cursive;
}

.hero-left h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.highlight-role {
  color: #0c0000;
}

.hero-left p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.social-icons a {
  color: #0c0000;
  font-size: 1.6rem;
  transition: transform 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.resume-btn {
  background-color: #179372;
  color: #fff;
  padding: 14px 28px;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.resume-btn:hover {
  background-color: #179372;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-right img {
  width: 550px;
  border-radius: 5px;
  object-fit: cover;
  
}
