.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #27472c;
  padding: 15px 30px;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
  flex-wrap: wrap;
}

.navbar-logo {
  font-family: 'Georgia', serif;
  font-size: 1.8rem;
  color: #ebf0f0;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
   white-space: nowrap;
  padding: 9px 50px;
}

.navbar-links li a .icon {
  margin-right: 8px;
}

.navbar-links li a:hover,
.navbar-links li a.active {
  color: #00f0ff;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .navbar-links {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    width: 100%;
    margin: 8px 0;
  }

  .navbar-links li a {
    width: 100%;
    padding: 8px 0;
  }
}
